<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
	<bean id="userService" class="com.yz.service.impl.UserServiceImpl" />
	<bean id="cameraService" class="com.yz.service.impl.CameraServiceImpl" />
	<bean id="httpRequestService" class="com.yz.facecloud.service.impl.HttpRequestServiceImpl">
		<property name="serverAddress" value="http://10.10.0.2:8000/"></property>
	</bean>
	<bean id="faceService" class="com.yz.service.impl.FaceServiceImpl"></bean>
	<bean id="organizeService" class="com.yz.service.impl.OrganizeServiceImpl" />
	<bean id="faceCameraService" class="com.yz.facecloud.service.impl.FaceCameraServiceImpl">
		<property name="faceUser" ref="faceUser"></property>
		<property name="rstp_url" value="rtsp://10.10.0.5:8554/"></property>
	</bean>
	
	<bean id="faceUser" class="com.yz.facecloud.model.FaceUser">
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
		<property name="mode" value="force_login"></property>
	</bean>
	<bean id="alarmService" class="com.yz.service.impl.AlarmServiceImpl" />
</beans>